h1 {color: purple;font-family: verdana;font-size: 60px;}
h2{color: pink; font-family: courier; font-size:20px;}

p {color: black;font-family: courier;font-size: 30px;background-color:lightcoral;}
p1 {color: black;font-family: courier;font-size: 15px;background-color:blanchedalmond	;}
p2{color: black;font-family: courier;font-size: 15px; background-color:sandybrown;}

img {max-width: 100%; height:auto;}
.full-width-img {
width: 100%;
}
@media only screen and (min-width: 780px) {
.full-width-img {
margin: auto;
width: 90%;

}
}
@media only screen and (max-width: 800px) {
	p {color:red;}
	}

@media only screen and (min-width: 700px) {
	body {color:#cc0000;font-size:2.5vw;font-family:'Stick No Bills'; background-color:silver;}
	}



@media screen and (max-width:600px) {
	body {color:#cc0000;font-size:2.5vw;font-family:'Rockwell'; background-color:plum;}
	}
	
@media screen and (min-width:601px) and (max-width:650px){
 body {background-color:white;}
}

div.video{margin-top:30px;}

 /*  iframe{width:900px; height:600px; height:auto;}*/
 .video-container {
margin-top:10px;
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
